# docker-Specify the compose version
version: "3"

services:
  app:
    #Build a Dockerfile in the same directory
    build: .
    #Give the container a name(Any)
    #container_name: YTdlg2
    # https://stackoverflow.com/a/71027261
    user: ${MY_UID}:${MY_GID}
    #You can keep the container running.
    tty: true
    #Mount the files in the directory to the app directory in the container
    volumes:
        - /tmp/.X11-unix:/tmp/.X11-unix
        - /etc/localtime:/etc/localtime:ro
        - ~/:/home/user
    environment:
      - DISPLAY=${DISPLAY}
      - TZ=${TZ}
      - LANG=${LANG}
      #- LC_ALL=${LC_ALL}
      - XMODIFIERS=${XMODIFIERS}
      - QT_IM_MODULE=${QT_IM_MODULE}
      - GTK_IM_MODULE=${GTK_IM_MODULE}
      #- AUDIO_ID=${AUDIO_ID}
      #- VIDEO_GID=${VIDEO_GID}
    # https://docs.docker.com/compose/compose-file/compose-file-v3/
    privileged: true
